* {
    --background-color: #ddd4cf;
    --primary-color: #527655;
    --dark-color: #485442;

    border-radius: 10px;
    border: 3px;
    stroke-width: 2px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    box-sizing: border-box;
    margin: 0;

    transition: .1s ease-in;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 80%;
    margin: auto;
    padding: 1% 50px;
}
header h1:hover{
    transform: translateY(3px);
}

body{
    background-image: url("../images/checker-green.png");
    background-repeat: repeat;
    background-size: 200px;
    image-rendering: pixelated;
}

h1, h2, h3, p {
    color: var(--dark-color);
}

hr{
    border-width: 1px;
    border-style: solid;
    color: var(--dark-color);
}

ul{
    padding-left: 30px;
}

.bounding-box{
    background-color: var(--background-color);
    border: 10px;
    border-style: solid;
    border-color: var(--dark-color);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;

    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 20px 0px;
}

.nav{
    background-color: var(--primary-color);
    border-style: solid;
    border-color: var(--dark-color);
    outline-width: 0ch;

    display: flex;
    flex-direction: column;
    gap: 20px;

    top: 20px;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    
    text-align: center;
    overflow-wrap: break-word;

    width: 20%;
    height: fit-content;
    padding: 10px;
}
.nav h3, p{
    color: var(--background-color);
}
.nav hr{
    border-color: var(--background-color);
}

.navdiv{
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--dark-color);
    box-shadow: 2px 2px 0px var(--dark-color);

    align-content: center;
    text-align: center;
    font-size: 1.25em;
    
    width: 100%;
    height: 50px;
}   
.navdiv p{
    color: var(--dark-color);
}
.navdiv:hover{
    transform: translateY(3px);
}

.content-box{
    width: 70%;
    display: flex;

    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.content-box h2{
    color: var(--dark-color);
}
.content-box p{
    color: var(--dark-color);
}

.recipe-section h2{
    padding-bottom: 10px;
}

.featdiv{
    background-color: #fff;
    border-color: var(--dark-color);
    border-style: solid;
    box-shadow: 2px 2px 0px var(--dark-color);
    
    width: 100%;
    height: 200px;
}
.featdiv p{
    color: var(--dark-color);
}
.featdiv:hover{
    transform: translateY(3px);
}

.recipe-section hr{
    margin: 10px 0px;
}

.recipe-grid{
    height: fit-content;
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.recipe-thumbnail{
    background-color: #fff;
    border-style: solid;
    border-color: var(--dark-color);
    box-shadow: 2px 2px 0px var(--dark-color);
    
    width: 100%;
    height: 100px;
}
.recipe-thumbnail p{
    color: var(--dark-color);
}
.recipe-thumbnail:hover{
    transform: translateY(3px);
}

.recipe-card{
    background-color: var(--primary-color);

    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 30px;
    text-align: left;
    justify-content: center;

    border-style: solid;
    border-color: var(--dark-color);
    box-shadow: 2px 2px 0px var(--dark-color);
}
.recipe-card hr, .recipe-card p, .recipe-card ol, .recipe-card ul{
    color: var(--background-color);
}
.recipe-card h1{
    text-align: center;
    color: var(--background-color);
}
.recipe-card h2{
    color: var(--background-color);
    text-align: center;
}
.recipe-card ul, ol{
    padding-bottom: 20px;
}
.print-button {
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--dark-color);
    box-shadow: 2px 2px 0px var(--dark-color);

    width: 50px;
    height: 50px;
}
.print-button:hover{
    transform: translateY(3px);
}
.print-only{
    display: none;
}

@media screen and (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        padding-top: 20px;
        width: 100%;
    }

    .bounding-box{
        flex-direction: column;
        width: 95%;
        padding-top: 0px;
        justify-content: center;
        align-items: center;
    }

    .nav{
        width: 100%;
        border-radius: 0px;
        border-style: none;
    }
 
    .recipe-container{
        width: 95%;
        padding: 0px;
        padding-top: 30px;
    }

    .recipe-grid{
        grid-template-columns: 1fr 1fr;
    }

    .hide-on-mobile{
        display: none;
    }
}

@media print{
    h1{
        color: #000;
    }
    header{
        display: none;
    }
    .bounding-box{
        width: 100%;
        border-style: none;
    }
    .nav{
        display: none;
    }
    .content-box{
        width: 100%;
    }
    .content-box section{
        display: none;
    }
    .recipe-card{
        display: block;
        border-color: #000;
    }
    .recipe-card h1, .recipe-card h2, .recipe-card p, .recipe-card ol, .recipe-card ul, .recipe-card hr{
        color: black;
    }
    .print-only{
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }
    .print-button{
        display: none;
    }
}