* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
}

header{
    padding-top: 1%;
    width: 80%;
    margin: auto;
}

body{
    background-image: url("../images/checker.png");
    background-repeat: repeat;
    background-size: 100px;
    image-rendering: pixelated;
}

.bounding-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2%;

    width: 80%;
    margin: auto;

    background-color: blue;
}

@media screen and (max-width: 768px) {
    .bounding-box{
        flex-direction: column;
    }
    
}