* {
    --background-color: #ddd4cf;
    --primary-color: #527655;
    --dark-color: #485442;

    border-radius: 10px;
    border: 3px;
    stroke-width: 2px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    list-style: none;
    box-sizing: border-box;
    margin: 0;

    transition: .1s ease-in;
}

header{
    padding-top: 1%;
    width: 80%;
    margin: auto;
}

body{
    background-image: url("../images/checker-green.png");
    background-repeat: repeat;
    background-size: 200px;
    image-rendering: pixelated;
}

h1, h2, h3, p {
    color: var(--dark-color);
}

.bounding-box{
    background-color: var(--background-color);
    border: 10px;
    border-style: solid;
    border-color: var(--dark-color);
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 20px 0px;
}

.nav{
    background-color: var(--primary-color);
    border-style: solid;
    border-color: var(--dark-color);

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    outline-width: 0ch;

    text-align: center;
    overflow-wrap: break-word;

    width: 20%;
    height: fit-content;
    padding: 10px;
}
.nav h3, p{
    color: var(--background-color);
}
.nav hr{
    border-width: 1px;
    border-style: solid;
    border-color: var(--background-color);
}

.navdiv{
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--dark-color);
    box-shadow: 2px 2px 0px var(--dark-color);

    align-content: center;
    font-size: 1.25em;

    width: 100%;
    height: 50px;
}
.navdiv p{
    color: var(--dark-color);
}
.navdiv:hover{
    transform: translateY(3px);
}

.recipediv{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featdiv{
    width: 100%;

    border-color: var(--primary-color);
    border-style: solid;
}

.seasondiv{
    height: 100px;
    width: 100%;
    
    border-color: var(--primary-color);
    border-style: solid;
}

@media screen and (max-width: 768px) {
    .bounding-box{
        flex-direction: column;
    }
    
}