<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title></title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/js/shared-content.js"></script> 
    <script src="/js/create-recipe-content.js"></script>
    <script>
        const map = new Map();
        map.set("title", "");
        map.set("flavor_text", "");
        map.set("img", "");
        map.set("overview", []);
        map.set("ingredients", []);
        map.set("directions", []);
        map.set("notes", []);
    </script>
</head>
<body onload="createContent(map)">
    <div id="head-placeholder"></div>
    <div class="bounding-box">
        <div id="nav-placeholder"></div>
        <div class="content-box" id="content"></div>
    </div>
</body>