<div class="recipe-card">
    <div class="print-only">
        <!-- Title -->
        <h1></h1>
        <!-- Image -->
        <img src="" alt="image of recipe">
        <!-- Flavor text -->
        <p><i></i></p>
    </div>
    
    
    <!-- Title -->
    <h1 id="title"></h1>
    <!-- Image -->
    <img id="image" alt="image of recipe">
    <!-- Flavor text -->
    <p id="flavor-text"></p>
    <br>
    <h2>Overview</h2>
    <br><hr><br>
    <p id="overview"></p>
    <br>

    <h2>Ingredients</h2>
    <br><hr><br>
    <ul id="ingredients"></ul>

    <h2>Directions</h2>
    <br><hr><br>
    <ol id="directions"></ol>

    <h2>Notes</h2>
    <br><hr><br>
    <ul id="notes"></ul>

    <h2>Nutrition</h2>
    <br><hr><br>

    <button class="print-button" onclick="window.print()"><img src="/images/printer.svg" alt=""></button>
</div>